@model LightweightCMS.Models.Element

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Element</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Background)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Background)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RowStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RowEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ColumnStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColumnStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ColumnEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColumnEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ElementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
