@model IEnumerable<LightweightCMS.Models.Page>
@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> SignInManager

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Background)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Public)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rows)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Background)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Public)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rows)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Counts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gap)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.PageId">Edit</a> @:|
                    }
                    <a asp-action="View" asp-route-id="@item.PageId">View</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @: |
                        <a asp-action="Delete" asp-route-id="@item.PageId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
