@model LightweightCMS.Models.Page
@inject Microsoft.AspNetCore.Identity.UserManager<Microsoft.AspNetCore.Identity.IdentityUser> UserManager

@{
    ViewData["Title"] = Model.Titel;
    var auto = "auto ";
}

<h2>@Html.DisplayFor(model => model.Titel)</h2>

<div style="display: grid; grid-gap: @(Model.Gap)px;
            grid-template-rows:@auto @for (int i = 1; i < Model.Rows; i++) { @auto; };
            grid-template-columns:@auto @for (int i = 1; i < Model.Columns; i++) { @auto };
            background: @Model.Background;
     ">
    @foreach (Element element in Model.Elements)
    {
        @await Html.PartialAsync("_ElementViewPartial", element)
    }
</div>

<hr />
<div>
    @if (Model.User != null && await UserManager.GetUserAsync(User) == Model.User)
    {
        <a asp-action="Edit" asp-route-id="@Model.PageId">Edit</a> @:|
        <a asp-action="Delete" asp-route-id="@Model.PageId">Delete</a> @:|
    }
    <a asp-action="List">Back to List</a>
</div>
